##
## James A B Gray local ignores
##
############################################

## Ignore sublime text project files

bbcTest.sublime-project
bbcTest.sublime-workspace

## logs

app-src/logs_access
app-src/logs_errors

dist/logs_access
dist/logs_errors



## 
## Project ignores
## 
############################################

#node modules