/* DOCUMENT INFORMATION
	- Document: Pvblic Ltd
	- Version:  0.0.1
	- Client:   BBC
	- Author:   James A B Gray   
*/

.top-bar-wrapper {
	height: 0px;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.top-bar-wrapper.toggled {
	min-height: 60px;
	height: auto;
}


.top_info_bar {
	min-height: 40px;
}
