/* DOCUMENT INFORMATION
	- Document: Pvblic Ltd
	- Version:  0.0.1
	- Client:   BBC
	- Author:   James A B Gray   
*/

/* ===Top Bar === */
#top-bar-side-wdith {
    .title {
        display: block;
        float: left;
        margin: 8px 0 0 8px;
        font-size: $font-size-h2;
    }

    #top-bar-mobile-menu-open {
        float: right;
        display: block;
        margin: 7px 8px 0 0;
        font-size: $font-size-h2;
        cursor: pointer;
        .fa-indent {
            display: block;
        }
        .fa-outdent {
             display: none;
        }
        @media (min-width: $container-sm) {
            .fa-indent {
            display: none;
            }
            .fa-outdent {
                display: block;
            } 
        }
    }
    #top-bar-mobile-menu-open.openOveride {
        .fa-indent {
            display: none;
        }
        .fa-outdent {
            display: block;
        } 
        @media (min-width: $container-sm) {
            .fa-indent {
                display: block;
            }
            .fa-outdent {
                 display: none;
            }
        }
    }
    
}




.sidebar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
   
}

.sidebar-nav li {
    line-height: 40px;
    margin-top: 1px;
    background: $black;
}
.sidebar-nav li:hover {
    background: $trans-30;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $copy;
    padding: 0 10px;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 40px;
    background: #000;
}

.sidebar-nav > .sidebar-brand a {
    padding: 8px;

}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}




span.section-title {
    display: block;
    line-height: 40px;
    background: $black;
    padding: 0 10px;
    position: relative;
    span {
        display: inline-block;
        float: right;
        cursor: pointer;
    }

    span:hover {
        @include opacity(0.5);
    }
}

span.section-title.lg {
    font-size: $font-size-large;
}

/* User Side Nav Area 
================= */

li.avatar {
    
}

li.avatar:hover {
    a {
        height: 90px;
    }
}
