<centered>
	<div class="row row-centered">
		<div class="col-lg-3 col-centered login-holder">
			<div class="panel panel-default">
			 	<div class="panel-body">
			 		<img class="img-responsive" src="assets/img/inhaus_logo_blue.png" />
			 		<br/>
			 		<p>Reset password</p>
					<form ua-reset-password ng-show="!emailSent" role="form">
						<div class="form-group">
							<input class="form-control" name="login" placeholder="Email">
						</div>
						<p><button type="submit" class="btn btn-primary">Send Email</button></p>
						
						<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>
						<div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">{{ error.message }}</div>
					</form>
					<div class="alert alert-success alert-dismissible" role="alert" ng-show="emailSent">An email has been sent to your inbox. Click on the link to set a new password.</div>
					<p><a href="#/login">Log in</a></p>
			 	</div>
			</div>
		</div>
	</div>
</centered>